* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    direction: rtl;
}

h1 {
    text-align: center;
    color: blue;
    font-size: 50px;
    direction: rtl;
    margin-top: 50px;
}

.h11{
    color: #f00;
}

.dash {
    border: 3px dashed blue;
    padding: 20px;
    margin: 100px 5% 0 5%;
}